/* -------------------------------------------
Nom Complet: 	Renaud Van Meerbergen
------------------------------------------- */
            /*MEDIA-QUERIES*/
/*-------------------------------------------- */
@media screen and (min-width: 750px) {
    section.mes_photos {
        height: calc(50vw * 8 / 12);
        overflow: auto;
        margin: 1.5em 2.2em;
        border-radius: 12px;
        display: grid;
        grid-template-columns: repeat(4, 1fr); /*ou alors 2fr and repeat (2, 1fr)*/
        grid-template-rows: repeat(2, 1fr);
        gap: 8px 8px;
        grid-auto-flow: column dense;
        grid-template-areas: ". .";
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) à tester au clic*/
    }
    .photo_first {
        grid-row: span 2;
        grid-column: span 2;
    }
    section.mes_photos img {
        height: 100%;
    }
    section.mes_photos img.photo-next {
        display: none;
    }
    /*En savoir plus 1.*/
    .is-opened {
        margin: 2.5em;
        padding: 2.5em;
        border-radius: 1em;
    }
}

@media screen and (min-width: 1125px) {
    main {
        padding: 1.5em 5em;
    }
    .fourthSection, .fifthSection, .sixthSection, .seventhSection, .bonusSection {
        padding-top: 3em;
    }
    .bonusSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5em;
    }
    .bonusSection .respons {
        place-self: center;
    }
    section.concurrents, section.assistance {
        padding: 3em 5em;
    }
    .aPropos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .assistance, .concurrents ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .concurrents ul li {
        padding-left: 0;
    }
}